<%= content_for(:html_title) {"All Contributors"} %>

<h1 class="title is-1">All Contributors</h1>
<ol>
  <% @authors.each do |author| %>
    <li><%= link_to author.name, author %></li>
  <% end %>
</ol>